*{
    /*font for now*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-padding: 1rem 3rem;
    --main-color: #bdd9eb;
    --shadow: rgba(0, 0, 0, 0.26) 0px 1px 4px;
    --spacing-lg: 20px;
    --spacing-xl: 35px;
    --button-green: rgba(86, 240, 88, 0.5);
    --button-red: rgba(248, 7, 59, 0.5);
    --clr-red: hsl(5, 90%, 64%);
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/*header*/

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: var(--main-padding);
    box-shadow:var(--shadow) ;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
}

.btn:hover{
    cursor: pointer;
    background-color: #c7d1d6;
    transition: ease-in 150ms;
}

.logged-out{
    display: flex;
    justify-content: flex-end;
}

/*main content area*/

h3 {
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
    justify-content: center;
}

.add-book {
    justify-content: center;
    align-items: center;
    /* padding: 14px 35px; */
    background-color: #ffff;
}


.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--main-color);
    box-shadow: var(--shadow);
    height: 250px;
    width: 300px;
    padding: var(--main-padding);
}

.card-btns {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

button.outline {
    color:  var(--clr-red);
}

#removeBtn, .readBtn {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
}

#removeBtn:hover, .readBtn:hover {
    cursor: pointer;
    background-color: #c7d1d6;
    transition: ease-in 150ms;
}

.book-read {
    background-color: var(--button-green);
}

.not-read {
    background-color: var(--button-red);
}

/*pop-up modal area*/

.modal {
    position: fixed;
    display: flex;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    padding: var(--spacing-lg);
    border-radius: 5px;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: var(--main-color);
    justify-content: center;
    box-shadow: var(--shadow);
}

.show {
    transform: translate(-50%, -50%) scale(1);
}

form {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 10px;
}

input {
    padding: 10px;
}

label {
    font-weight: bold;
}

.submit-btn:hover{
    background-color: var(--button-green);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    display: block;
}



/*footer*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    width: 100%;
    padding: var(--spacing-lg);
}
